.profile-header {
  text-align: center;
}

.profile-title {
  font-size: 24px;
  padding: 8px;
}

.profile-description {
  font-size: 12px;
  padding: 4px;
}

.profile-subtitle {
  display: flex;
}

.subtitle-section {
  padding: 12px 0;
  margin-right: 72px;
  cursor: pointer;
  position: relative;
  transition: 0.2s all;
  color: #665959;
}

.subtitle-section:hover, .subtitle-section.active {
  color: #b8b6b6;
}

.subtitle-section.active::after, .subtitle-section:hover::after {
  content: "";
  position: absolute;
  background-color: #b8b6b6;
  height: 2px;
  width: 24px;
  left: 0;
  bottom: 0;
  border-radius: 100px;
}

.profile-feedback-list {
  margin-top: 40px;
  height: 280px;
  overflow: auto;
}