.Send {
  height: 100%;
  position: relative;
}

.Send .title {
  margin-top: 0;
  margin-bottom: 12px;
}

.send-main {
  margin-top: 12px;
}

.Send .submit {
  margin-top: 12px;
}

.thankyou {
  font-family: SFProText;
  font-size: 20px;
  font-weight: bold;
  color: #665959;
}

.thankyou span {
  color: #b8b6b6;
}