@font-face {
  font-family: adiNeue;
  src: url('./fonts/adineue-bold-webfont.ttf');
}

@font-face {
  font-family: SFProText;
  src: url("./fonts/SF-Pro-Display-Black.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: SFProText;
  src: url("./fonts/SF-Pro-Display-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1c1818;
}

.app-children {
  height: 656px;
  width: 334px;
  /* border: 1px solid #767676; */
  color: #fefefe;
  padding: 40px;
}

.title {
  margin: 44px 0;
  font-weight: bold;
  line-height: 1.1;
  font-size: 58px;
  font-family: adiNeue;
}

.title-1 {
  color: #665959;
}

.title-2 {
  color: #b8b6b6;
}

textarea {
  margin-top: 40px;
  font-size: 18px;
  background: transparent;
  border: none;
  padding-bottom: 16px;
  border-bottom: 1px solid #665959;
  color: #665959;
  width: 100%;
  resize: none;
  height: 18px;
}

textarea:focus {
  outline: transparent;
}